body {
    padding: 0;
    margin: 0;

    background-color: #1f2428;
    color: #eee;

    font-family: 'Poppins';
}

h1 {
    text-align: center;

    font-size: 45px;
}

h2 {
    text-align: center;
}

form {
    background-color: #24292e;
    width: 70%;

    padding: 10px;
    margin: auto;

    border-radius: 10px;

}

.input-field {
    display: flex;
    gap: 30px;

    padding: 10px;
}

p {
    flex: 2.5
}

input {
    flex: 10;

    transition: all;
    transition-duration: 400ms;

    border-radius: 10px;
    border: solid #343b43 3px;

    background-color: #24292e;
    padding: 10px;

    color: #eee;
    font-size: 15px;

    outline: none;
}

input:focus {
    border-color: #007bff;
}

#form-submit {
    width: 40%;
    margin-left: 30%;
    margin-top: 20px;

    transition-duration: 800ms;
}

#form-submit:hover {
    background-color: #28a745;
    border-color: #28a745;
}

main {
    width: 70%;

    padding: 10px;
    margin: auto;

    text-align: center;
}

#board {
    width: 60%;

    margin: auto;

    display: flex;
    flex-flow: column;
}

.row {
    width: 100%;

    display: flex;
    flex-flow: row nowrap;

    flex: 1;
}

.cell {
    flex: 1;
    aspect-ratio: 1 / 1;

    border: #343b43 solid 1px;
    transition-duration: 200ms;

    display: flex;
    justify-content: center;
    align-content: center;

    flex-direction: column;

    font-size: 200px;
    line-height: 20px;
}

.rm-top {
    border-top: none !important;
}

.rm-bottom {
    border-bottom: none !important;
}

.rm-left {
    border-left: none !important;
}

.rm-right {
    border-right: none !important;
}

.cell:hover {
    background-color: #22282c;
}

.blur {
    filter: blur(10px);
    -webkit-filter: blur(10px);
}